.gameover {
    color: black;
    font-size: 100px;
    margin-top: 10%;
  }
  
.winner {
    background: url('../../winner.jpg');
    background-size: cover;
    min-height: 50%;
    height: 600px;
  }
  
.new-game {
    margin-top: 35%;
  }